@import "vendor/normalize.css";
@import "vendor/basscss.min.css";
@import "src/utils.css";

body {
  cursor: wait, auto;
}

/**
 *
 *    Giant background image
 *
 */

.background-image {
  display: none;

  @media only screen and (min-width: 48rem) {
    background: transparent url(../../img/nathan_5.png) no-repeat bottom right;
    display: block;
  }

  @media only screen and (min-width: 80rem) {
    background: transparent url(../../img/nathan_3.png) no-repeat bottom right;
    display: block;
  }
}

/**
 *
 *    Avatar Image
 *
 */

.avatar {
  border-radius: 100px;
  line-height: 0.5;
  max-width: 200px;

  @media only screen and (min-width: 48rem) {
    display: none;
  }
}

/**
 *
 *    Responsive Title
 *
 */

.title {
  font-size: 1.5rem;
  text-align: center;

  @media only screen and (min-width : 30rem) {
    font-size: 2rem;
    text-align: center;
  }
  @media only screen and (min-width: 48rem) {
    font-size: 3rem;
    text-align: left;
  }
  @media only screen and (min-width: 60rem) {
    font-size: 4.8rem;
    text-align: left;
  }
  @media only screen and (min-width: 80rem) {
    font-size: 6rem;
    text-align: left;
  }
  @media only screen and (min-width: 100rem) {
    font-size: 8rem;
    text-align: left;
  }
  @media only screen and (min-width: 120rem) {
    font-size: 10rem;
    text-align: left;
  }
  @media only screen and (min-width: 150rem) {
    font-size: 12rem;
    text-align: left;
  }
} /* title */

/**
 *
 *  Responsive Description
 *
 */

.description {
  font-size: 1rem;

  @media only screen and (min-width: 48rem) {
    font-size: 1.5rem;
  }

  @media only screen and (min-width: 100rem) {
    font-size: 2rem;
  }
} /* description */

/**
 *
 * Icons for the socials
 *
 */

.social-link {
  line-height: 1.5rem;
}

.logo {
  width: 1.5rem;
  height: 1.5rem;
}

.codepen .outer-ring {
  fill: black;
}
.codepen .inner-box {
  fill: black;
}

/**
 *
 * Bonus for phones
 *
 */

.bonus {
  line-height: 0.5;

  @media only screen and (min-width: 48rem) {
    display: none;
  }
}

/**
 *   Photo Credit for Peter Buckingham
 */
.photography-credit {
  position: absolute;
  bottom: 0;

  @media only screen and (min-width: 48rem) {
    position: fixed;
    right: 0;
  }
}
